.footer {
  padding: 45px 0;
  background-color: #2f324b;
}

.footer__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__logo-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__copyright {
  width: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.40625;
}

.footer__developer-mobile {
  display: none;
}

.footer__developer {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.40625;
}

@media (max-width: 1200px) {
  .footer {
    padding: 37px 0;
  }

  .footer__container {
    padding: 0 30px;
  }

  .footer__developer {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 0;
  }

  .footer__container {
    flex-wrap: wrap;
    padding: 0px 15px;
  }

  .footer__logo-group {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #2f324b;
  }

  .footer__copyright {
    font-size: 8px;
    width: 87px;
  }

  .footer__developer {
    display: none;
  }

  .footer__developer-mobile {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2a2c3f;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 1.40625;
    opacity: 0.5;
  }
}
