.hero {
  text-align: center;
  background-image: url('../img/hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 228px;
  padding-bottom: 120px;
}

.hero__title {
  max-width: 100%;
  margin-bottom: 35px;
  font-size: 52px;
  color: rgba(255, 255, 255, 0.86);
}

.hero__description {
  margin-bottom: 90px;
  max-width: 960px;
  font-size: 22px;
  line-height: 1.40625;
  color: rgba(255, 255, 255, 0.75);
}

.hero__mobile{
  margin-bottom: 54px;
  display: none;
  font-size: 14px;
  line-height: 1.40625;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
}

.hero__link {
  display: inline-block;
  padding: 12px 48px;
  font-weight: 500;
  border-radius: 50px;
  box-shadow: 0 4px 25px 0 rgba(21, 169, 203, 0.3);
  background-color: var(--blue);
}

@media (max-width: 1200px) {
  .hero {
    background-image: url('../img/hero-bg-1024.jpg');
  }

  .hero__container {
    padding-top: 156px;
    padding-bottom: 70px;
  }

  .hero__title {
    margin-bottom: 30px;
    max-width: 780px;
    font-size: 40px;
  }

  .hero__description {
    margin-bottom: 56px;
    max-width: 754px;
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .hero__title {
    margin-bottom: 23px;
    font-size: 30px;
  }

  .hero__description {
    margin-bottom: 60px;
    max-width: 754px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .hero {
    background-image: url('../img/hero-bg-mobile.jpg');
  }

  .hero__container {
    padding-top: 110px;
    padding-bottom: 65px;
  }
  .hero__title {
    margin-bottom: 27px;
    font-size: 20px;
  }

  .hero__description {
    display: none;
  }

  .hero__mobile {
    display: block;
  }

  .hero__link {
    padding: 9px 39px;
    font-size: 16px;
  }
}